<!---<h2><%= portfolio_item.title %></h2>--->

<!-- <p><%= link_to "Edit", edit_portfolio_path(portfolio_item.id) if logged_in?(:site_admin) %></p>
<p><%= link_to 'Destroy', portfolio_path(portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></p> -->
<!---<a href="/portfolios/<%=portfolio_item.id%>/edit">Edit</a>--->
<!-- <ul>
  <li></li>
  <li><%= portfolio_item.body %></li>
  -Negative if could be replaced by unless-
  <li></li>
</ul> -->

<div class="card" data-id="<%=portfolio_item.id%>">
  <%= image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil? %>
  <h4><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item.id) %></h4>
  <p class="card-text"><%= portfolio_item.subtitle %></p>
</div>