<div class="container mt-4">
  <div class="mb-4 row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image.url, width: "100%" if !@portfolio_item.thumb_image.nil? %>
    </div>

    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>

<hr>

      <h4><%= @portfolio_item.subtitle %></h4>




      <p><%= @portfolio_item.body %></p>

      <hr>

      <h3>Technologies Used:</h3>
      <% @portfolio_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>

      <hr>

      <p>
        <%= link_to "View other items", portfolios_path %>
        <%= link_to "Edit", edit_portfolio_path(@portfolio_item) if logged_in?(:site_admin) %>
        <%= link_to 'Destroy', portfolio_path(@portfolio_item), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %>
      </p>

    </div>
  </div>
</div>