<%= link_to "Home", root_path %>
<span>.</span>
<%= link_to "About", about_path %>
<span>.</span>
<%= link_to "Contact", contact_path %>
<span>.</span>
<%= link_to "Blogs", blogs_path %>
<span>.</span>
<%= link_to "Portfolios", portfolios_path %>